body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #FBFBFD;
    color: #1D1D1F;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: #1D1D1F;
    color: #FBFBFD;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #FBFBFD;
    text-decoration: none;
}

main {
    padding: 20px;
}

#albums, #album-details {
    max-width: 1200px;
    margin: 0 auto;
}

.album-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.album-item {
    flex: 1 1 30%;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 1px solid black; /* 黑色边框 */
    text-align: center;
    max-width: 300px; /* 限制最大宽度 */
}

.album-item img {
    width: 70%;
    height: auto;
    max-height: 300px; /* 限制图片高度 */
    display: block;
    margin: 0 auto;
}

.error {
    color: red;
    font-weight: bold;
}
.band-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.band-item {
    flex: 1 1 30%;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 1px solid black; /* 黑色边框 */
    text-align: center;
    max-width: 300px;
}

.band-item img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Ensures the image covers the specified height and width */
    border-radius: 8px; /* Optional: Adds rounded corners */
}

/* Ensures text is horizontally aligned */
.band-item h3, .band-item p {
    margin: 5px 0;
}


#genres h2 {
    text-align: center;
    margin-bottom: 20px;
}

.genre-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.genre-item {
    padding: 10px 15px;
    border: 1px solid #000;
    width: 100%;
    text-align: center;
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
}

.genre-item:hover {
    background-color: #d0d0d0;
}