<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Hometown - Album Details</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Rock Hometown</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="bands.html">Bands</a></li>
                <li><a href="albums.html">Albums</a></li>
                <li><a href="timeline.html">Timeline</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="album-details">
            <h2>{{ album[2] }}</h2>
            <img src="../static/images/{{ album[6] }}" alt="{{ album[2] }}">
            <p>Artist: {{ album[1] }}</p>
            <p>Release Year: {{ album[3] }}</p>
            <p>Genre: {{ album[5] }}</p>
        </section>
    </main>
</body>
</html>
