<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Hometown - Bands</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Rock Hometown</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}" class="{% if request.endpoint == 'index' %}active{% endif %}">Home</a></li>
                <li><a href="{{ url_for('bands') }}" class="{% if request.endpoint == 'bands' %}active{% endif %}">Bands</a></li>
                <li><a href="{{ url_for('albums') }}" class="{% if request.endpoint == 'albums' %}active{% endif %}">Albums</a></li>
                <li><a href="{{ url_for('genre') }}" class="{% if request.endpoint == 'genre' %}active{% endif %}">Genre</a></li>
                <li><a href="{{ url_for('timeline') }}" class="{% if request.endpoint == 'timeline' %}active{% endif %}">Timeline</a></li>
                <li><a href="{{ url_for('account') }}" class="{% if request.endpoint == 'account' %}active{% endif %}">{{ session['username'] }}</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="bands">
            <h2 class="bands-title">Bands</h2>

            <form method="GET" action="/bands" class="search-form">
                <input type="text" name="search" placeholder="Search for bands..." class="search-input">
                <button type="submit" class="search-button">Search</button>
            </form>
            
            
            <div class="band-list">
                {% if bands %}
                    {% for band in bands %}
                    <div class="band-card">
                        <a href="{{ url_for('band_albums', band_id=band['band_id']) }}">
                            <img src="{{ url_for('static', filename='images/' + band['image']) }}" alt="{{ band['band_name'] }}">
                            <h3>{{ band['band_name'] }}</h3>
                            <h4>Formed Year: {{ band['formed_year'] }}</h4>
                    <h5>Genre: {{ band['genre_name'] }}</h5>
                        </a>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No bands found.</p>
                {% endif %}

                {% for band in bands %}
  
{% endfor %}
            </div>
        </section>
    </main>
</body>
</html>
