<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Band Albums</title>
    
</head>
<body>
    
    <h1 class="page-title">Albums by them</h1>
    <div class="album-grid">
        {% for album in albums %}
            <div class="album-card">
                <div class="album-image-container">
                    <img src="{{ url_for('static', filename='images/' + album[2]) }}" alt="{{ album[1] }}" class="album-image">
                </div>
                <h2 class="album-title">{{ album[1] }}</h2>
                <p class="album-year">Released: {{ album[4] }}</p>
                <form action="{{ url_for('favorite', album_id=album[0]) }}" method="post">
                    <button type="submit">Add to Favorites</button>
                </form>
            </div>
        {% endfor %}
    </div>
    
   
    <div class="back-button">
        <a href="{{ url_for('bands') }}" class="btn">Back to Bands</a>
    </div>
</body>
</html>
