<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Band Albums</title>
    
</head>
<body>
    
    <h1 class="page-title">Albums by them</h1>
    <div class="album-grid">
        {% for album in albums %}
            <div class="album-card">
                <div class="album-image-container">
                    <img src="{{ url_for('static', filename='images/' + album[2]) }}" alt="{{ album[0] }}" class="album-image">
                </div>
                <h2 class="album-title">{{ album[0] }}</h2>
                <p class="album-year">Released: {{ album[1] }}</p>
            </div>
        {% endfor %}
    </div>
   
    <div class="back-button">
        <a href="{{ url_for('bands') }}" class="btn">Back to Bands</a>
    </div>
</body>
</html>
