<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Hometown - Bands in Genre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Rock Hometown</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}" class="{% if request.endpoint == 'index' %}active{% endif %}">Home</a></li>
                <li><a href="{{ url_for('bands') }}" class="{% if request.endpoint == 'bands' %}active{% endif %}">Bands</a></li>
                <li><a href="{{ url_for('albums') }}" class="{% if request.endpoint == 'albums' %}active{% endif %}">Albums</a></li>
                <li><a href="{{ url_for('genre') }}" class="{% if request.endpoint == 'genre' %}active{% endif %}">Genre</a></li>
                <li><a href="{{ url_for('timeline') }}" class="{% if request.endpoint == 'timeline' %}active{% endif %}">Timeline</a></li>
                
            </ul>
        </nav>
    </header>
    <main>
        <section id="bands">
            <h2>Bands in {{ genre_name }}</h2>
            <div class="band-list">
                {% for band in bands %}
                <div class="band-item">
                    <a href="{{ url_for('band_albums', band_id=band['band_id']) }}">
                        <h2>{{ band['band_name'] }}</h2>
                    </a>
                    <p>Formed Year: {{ band['formed_year'] }}</p>
                    <p>Genre: {{ band['genre_name'] }}</p>
                    <p>Band ID: {{ band['band_id'] }}</p>
                    <img src="{{ url_for('static', filename='images/' + band['image']) }}" alt="{{ band['band_name'] }}">
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>
</html>
